<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="CSS/all.min.css" />
    <link rel="stylesheet" href="CSS/swiper-bundle.min.css" />
    <link rel="stylesheet" href="CSS/output.css" />
    <title>Yalla Order</title>
</head>

<body dir="rtl">
    <header
        class="min-h-[100vh] flex items-center justify-center bg-cover bg-[url('../images/snack-pastry-board-with-potatoes-water-black-background-top-view.png')]">
        <div class="container">
            <div class="flex flex-wrap  items-center justify-center">
                <div class="w-full xl:w-1/2 px-4 my-4">
                    <div class="bg-white p-6 text-center rounded-2xl shadow-xl">
                        <h4 class="text-stone-900 text-[30px] my-2 md:text-[40px] font-bold font-['Roboto']">تواصل معنا
                        </h4>
                        <div><span class="text-rose-400 text-2xl font-normal font-['Roboto']">هل تحتاج</span><span
                                class="text-blue-500 text-2xl font-normal font-['Roboto']"> لمساعدة؟</span></div>

                        <form class="py-5">
                            <input type="text" placeholder="الاسم الاول"
                                class="w-full px-8 outline-none rounded-full my-5 py-4 border border-slate-500 focus:ring-main focus:border-main focus:outline-none">
                            <input type="text" placeholder="الاسم الاخر"
                                class="w-full px-8 outline-none rounded-full my-5 py-4 border border-slate-500 focus:ring-main focus:border-main focus:outline-none">
                            <input type="email" placeholder="البريد الالكتروني للعمل"
                                class="w-full px-8 outline-none rounded-full my-5 py-4 border border-slate-500 focus:ring-main focus:border-main focus:outline-none">
                            <input type="number" placeholder="رقم الهاتف"
                                class="w-full px-8 outline-none rounded-full my-5 py-4 border border-slate-500 focus:ring-main focus:border-main focus:outline-none">
                                <textarea placeholder="رساله" rows="4" class="w-full px-8 outline-none rounded-xl my-5 py-4 border border-slate-500 focus:ring-main focus:border-main focus:outline-none"></textarea>
                            <button
                                class="w-full bg-main text-white py-3 rounded-full font-bold text-[30px] font-['Roboto']">انشاء
                                حساب</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <footer dir="ltr" class="py-7 bg-[#1F1F1F]">
        <div class="container flex flex-wrap justify-between">
            <div class="w-full md:w-1/2 my-2">
                <img src="images/FOoDc.png" alt="logo">
            </div>
            <div class="w-full md:w-1/2 my-2">
                <div class="flex items-center">
                    <div class="text-white text-right cursor-pointer text-2xl font-normal font-['Roboto'] mx-2">Contact
                        us</div>
                    <div class="text-white text-right cursor-pointer text-2xl font-normal font-['Roboto'] mx-2">Follow
                        Us</div>
                    <div class="flex items-center mx-2">
                        <i class="fa-brands cursor-pointer fa-facebook mx-2 text-white"></i>
                        <i class="fa-brands cursor-pointer fa-instagram mx-2 text-white"></i>
                    </div>
                </div>
                <div class="flex items-center my-6">
                    <div class="mx-3">
                        <img src="images/apple.png" alt="app store" class="w-full cursor-pointer">
                    </div>
                    <div class="mx-3">
                        <img src="images/logo_playstore.png" alt="google play" class="w-full cursor-pointer">
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>